aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.3.1
annotated-types==0.7.0
antiorm==1.2.1
anyio==4.9.0
arithmetic==0.6.2
asgiref==3.7.2
attrs==24.2.0
billiard==4.2.1
blinker==1.9.0
Calculator==1.1.0
celery==5.4.0
certifi==2024.2.2
cffi==1.16.0
chainmap==1.0.3
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
combomethod==1.0.12
comtypes==1.3.0
contourpy==1.2.1
cryptography==42.0.2
cycler==0.12.1
datetime-truncate==1.1.1
db==0.1.1
distlib==0.3.8
distro==1.9.0
Django==5.0.2
django-admin-charts==1.5.0
django-adminlte3==0.1.6
django-bower==5.2.0
django-cleanup==8.1.0
django-crispy-forms==2.3
django-environ==0.11.2
django-jazzmin==3.0.1
django-jet==1.0.8
django-memoize==2.3.1
django-multiselectfield==0.1.13
django-nvd3==0.10.1
django-parler==2.3
django-paypal==2.1
django-sms==0.7.0
djangorestframework==3.14.0
djangorestframework-simplejwt==4.3.0
dnspython==2.6.1
environ==1.0
filelock==3.16.0
Flask==3.1.0
fonttools==4.51.0
fpdf==1.7.2
frozenlist==1.4.1
greenlet==3.0.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.6
itsdangerous==2.2.0
jet==1.0
Jinja2==3.1.5
jiter==0.10.0
kiwisolver==1.4.5
kombu==5.4.2
MarkupSafe==3.0.2
material==0.1
matplotlib==3.8.4
mongo==0.2.0
multidict==6.0.5
mysql-connector==2.2.9
mysql-connector-python==8.3.0
mysqlclient==2.2.7
nulltype==2.3.1
numpy==1.26.4
openai==1.82.0
options==1.4.10
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
pillow==10.2.0
pipenv==2024.4.1
pipfile==0.0.2
platformdirs==4.3.4
prompt_toolkit==3.0.50
pycparser==2.21
pydantic==2.11.5
pydantic_core==2.33.2
PyJWT==2.8.0
pymongo==4.6.2
PyMySQL==1.1.0
pyotp==2.9.0
pyparsing==3.1.2
pypiwin32==223
pypng==0.20220715.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-nvd3==0.16.0
python-slugify==8.0.4
pyttsx3==2.90
pytz==2024.1
pywin32==306
qrcode==7.4.2
razorpay==1.4.2
requests==2.31.0
selenium==4.24.0
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.29
sqlparse==0.4.4
stripe==12.1.0
text-unidecode==1.3
toml==0.10.2
tqdm==4.67.1
trio==0.26.2
trio-websocket==0.11.1
twilio==9.2.3
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
virtualenv==20.26.4
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.43.0
wsproto==1.2.0
yarl==1.9.4
